In [1]:
import os
from pyhealth.datasets import OMOPDataset
import pandas as pd

In [2]:
data_root_path = "./data/mimic-iv-demo-data-in-the-omop-common-data-model-0.9/1_omop_data_csv"
omop_table_list = [ f.rstrip('.csv') for f in os.listdir(data_root_path) if os.path.isfile(os.path.join(data_root_path,f))]

In [3]:
omop_table_list

['condition_era',
 'note_nlp',
 'observation_period',
 'provider',
 'procedure_occurrence',
 'care_site',
 'cohort_definition',
 '2b_vocabulary',
 'specimen',
 '2b_concept_relationship',
 'drug_exposure',
 'cdm_source',
 'device_exposure',
 'drug_era',
 '2b_concept',
 'metadata',
 'dose_era',
 'death',
 'cost',
 'note',
 'visit_detail',
 'location',
 'observation',
 'fact_relationship',
 'payer_plan_period',
 'person',
 'condition_occurrence',
 'cohort_attribute',
 'attribute_definition',
 'measurement',
 'visit_occurrence',
 'cohort']

In [4]:
omop_ds=OMOPDataset(
    root=data_root_path,
    tables=[],#["person","visit_occurrence","death"], # omop_table_list,
    code_mapping={}
)

INFO: Pandarallel will run on 4 workers.
INFO: Pandarallel will use Memory file system to transfer data between the main process and workers.

ParserError: Unknown string format: 2117-nan-nan

In [5]:
  # read person table
person_df = pd.read_csv(
            os.path.join(data_root_path, "person.csv"),
            dtype={"person_id": str},
            nrows=None,
            # sep="\t",
        )

In [6]:
person_df

,person_id,gender_concept_id,year_of_birth,month_of_birth,day_of_birth,birth_datetime,race_concept_id,ethnicity_concept_id,location_id,provider_id,care_site_id,person_source_value,gender_source_value,gender_source_concept_id,race_source_value,race_source_concept_id,ethnicity_source_value,ethnicity_source_concept_id
0,3589912774911670296,8507,2095,NaN,NaN,NaN,0,38003563,NaN,NaN,NaN,10009628,M,0,NaN,0,HISPANIC/LATINO,2000001408
1,-3210373572193940939,8507,2079,NaN,NaN,NaN,0,38003563,NaN,NaN,NaN,10011398,M,0,NaN,0,HISPANIC/LATINO,2000001408
2,-775517641933593374,8507,2149,NaN,NaN,NaN,8516,0,NaN,NaN,NaN,10004235,M,0,BLACK/AFRICAN AMERICAN,2000001406,NaN,0
3,-2575767131279873665,8507,2050,NaN,NaN,NaN,8516,0,NaN,NaN,NaN,10024043,M,0,BLACK/AFRICAN AMERICAN,2000001406,NaN,0
4,-8970844422700220177,8507,2114,NaN,NaN,NaN,8527,0,NaN,NaN,NaN,10038933,M,0,WHITE,2000001404,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-7671795861352464589,8532,2052,NaN,NaN,NaN,2000001401,0,NaN,NaN,NaN,10038081,F,0,UNKNOWN,2000001401,NaN,0
96,5734523979606454056,8532,2069,NaN,NaN,NaN,2000001401,0,NaN,NaN,NaN,10036156,F,0,UNKNOWN,2000001401,NaN,0
97,1532249960797525190,8532,2106,NaN,NaN,NaN,2000001405,0,NaN,NaN,NaN,10014078,F,0,UNABLE TO OBTAIN,2000001405,NaN,0
98,5894416985828315484,8532,2055,NaN,NaN,NaN,2000001405,0,NaN,NaN,NaN,10019172,F,0,UNABLE TO OBTAIN,2000001405,NaN,0
99,-3780452582396805474,8532,2058,NaN,NaN,NaN,2000001405,0,NaN,NaN,NaN,10039831,F,0,UNABLE TO OBTAIN,2000001405,NaN,0

In [9]:

        # read visit_occurrence table
visit_occurrence_df = pd.read_csv(
            os.path.join(data_root_path, "visit_occurrence.csv"),
            dtype={"person_id": str, "visit_occurrence_id": str},
        #     sep="\t",
        )
visit_occurrence_df

,visit_occurrence_id,person_id,visit_concept_id,visit_start_date,visit_start_datetime,visit_end_date,visit_end_datetime,visit_type_concept_id,provider_id,care_site_id,visit_source_value,visit_source_concept_id,admitting_source_concept_id,admitting_source_value,discharge_to_concept_id,discharge_to_source_value,preceding_visit_occurrence_id
0,-4406053801395356975,4783904755296699562,38004207,2112-11-06,2112-11-06 11:05:00,2112-11-06,2112-11-06 11:05:00,32817,NaN,NaN,10035631|2112-11-06,2000001801,NaN,NaN,NaN,NaN,-3.100296e+18
1,2636026522589494723,-6225647829918357531,38004207,2153-10-17,2153-10-17 14:23:00,2153-10-17,2153-10-17 14:23:00,32817,NaN,NaN,10019003|2153-10-17,2000001801,NaN,NaN,NaN,NaN,-2.238366e+18
2,-8900473297538187901,7918537411740862407,38004207,2130-10-10,2130-10-10 16:20:00,2130-10-10,2130-10-10 16:20:00,32817,NaN,NaN,10020306|2130-10-10,2000001801,NaN,NaN,NaN,NaN,-8.600570e+18
3,-8091470952174089624,-6225647829918357531,38004207,2155-04-20,2155-04-20 09:00:00,2155-04-20,2155-04-20 09:00:00,32817,NaN,NaN,10019003|2155-04-20,2000001801,NaN,NaN,NaN,NaN,4.782862e+18
4,8144493519470334167,7155255168997124770,38004207,2147-07-08,2147-07-08 08:20:00,2147-07-08,2147-07-08 08:20:00,32817,NaN,NaN,10014354|2147-07-08,2000001801,NaN,NaN,NaN,NaN,-3.275690e+18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
847,6557338641781338493,4498126063475867818,8870,2156-05-11,2156-05-11 11:29:00,2156-05-22,2156-05-22 14:16:00,32817,NaN,NaN,10002428|23473524,2000001806,8870.0,EMERGENCY ROOM,38004277.0,CHRONIC/LONG TERM ACUTE CARE,NaN
848,-9026896896997717305,4498126063475867818,8870,2156-04-30,2156-04-30 18:30:00,2156-05-03,2156-05-03 16:36:00,32817,NaN,NaN,10002428|20321825,2000001806,8870.0,EMERGENCY ROOM,38004277.0,CHRONIC/LONG TERM ACUTE CARE,NaN
849,5538617222786573932,6128703162302148003,581385,2178-07-22,2178-07-22 05:41:00,2178-07-25,2178-07-25 16:30:00,32817,NaN,NaN,10016742|27568122,2000001807,8870.0,EMERGENCY ROOM,38004277.0,CHRONIC/LONG TERM ACUTE CARE,NaN
850,-4177473998334219433,-3908355835367628651,262,2137-02-24,2137-02-24 10:00:00,2137-03-19,2137-03-19 15:45:00,32817,NaN,NaN,10003400|20214994,2000001809,8863.0,TRANSFER FROM SKILLED NURSING FACILITY,38004277.0,CHRONIC/LONG TERM ACUTE CARE,NaN
851,3079807580745996118,3192038106523208432,262,2136-04-10,2136-04-10 20:33:00,2136-05-02,2136-05-02 16:35:00,32817,NaN,NaN,10007795|28477357,2000001809,8717.0,TRANSFER FROM HOSPITAL,38004277.0,CHRONIC/LONG TERM ACUTE CARE,NaN

In [ ]:

        # read death table
death_df = pd.read_csv(
            os.path.join(self.root, "death.csv"),
            sep="\t",
            dtype={"person_id": str},